* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

#container {
    height: 400px;
    width: 400px;
    /* border: px solid black; think about the evenness in the outer and inner border width later */
    display: flex;  
    flex-wrap: wrap;
    margin: auto

}

.gridDiv {
    border: 1px solid black;
    /* height: 25px;
    width: 25px; */
}

.hovered {
    background-color: red;
}

.button-container {
    display: flex;
    /* justify-content: space-evenly; */
}

button {
    width: 200px;
    height: 30px;
    font-weight: bolder;
    /* margin: auto; */
    margin: 0 25px;
}

.yellow {
    background-color: yellow;
}

h1 {
    margin: auto;
}